@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600&family=Pacifico&family=Stylish&display=swap");

body {
  font-family: "Stylish", sans-serif;
}
button {
  border-radius: 10px;
  font-family: "Stylish", sans-serif;
  padding: 5px 15px;
  border: transparent 2px;
  font-size: 28px;
  box-sizing: border-box;
}
button:hover{
  color: white;
  border: solid 2px white;
  box-sizing: border-box;
}

.form-container {
  height: 70%;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  font-size: 30px;
  margin: 100px auto;
}

form {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

input {
  border-radius: 20px;
  border: transparent 2px;
  height: 40px;
  text-align: center;
  font-family: "Stylish", sans-serif;
  font-size: 28px;
  padding: 10px 15px;
}
::placeholder {
  color: #c4c4c4;
}
