@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.WelcomeContainer {
  background: rgba(255, 183, 153, 0.82);
  border-radius: 70px;
  width: 60%;
  text-align: center;
  height: 300px;
  display: flex;
  flex-direction: row;
  color: white;
  margin-left: 25px;
}
.WelcomeContainer h1 {
  font-family: "Pacifico", cursive;
  font-size: 40px;
  color: rgba(255, 0, 0, 0.781);
  
}
.SunImg {
  float: right;
  margin-right: 70px;
}
.WelcomePage {
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
}
#sun-image {
  width: 300px;
}
.SunImg h1{
    text-align: center;
    margin: -54%;
    font-size: 13px;
}
h3{
    padding-left: 60px;
    padding-right: 60px;
    font-size: 25px;
}

  @media screen and (max-width: 980px) {
    .WelcomeContainer{
        margin: auto;
        width: 90%;
     }
     .WelcomeContainer h1 {
         font-family: "Pacifico", cursive;
         font-size: 35px;
         color: rgba(255, 0, 0, 0.781);
         
       }
      .WelcomeContainer h3{
        font-size:19px;
        padding: 6px;
    }
       .SunImg {
        margin-left: 14%;
        margin-top: 25px;

      }
      #sun-img{
          margin-top: 90%;
      }
      .WelcomePage{
          flex-direction: column;
      }
  }