.add-edit-main {
  padding-top: 10px;
  padding-bottom: 50px;
}

#save-button {
  background-color: #f7ea0b;
  color: #015687;
  margin: 0 30px;
}
#save-button:hover{
  transform: scale(1.01);
  color: white;
  border: solid 2px white;
  box-sizing: border-box;
}

#delete-button {
  background-color: #e8703e;
  color: white;
  margin: 0 30px;
}
#delete-button:hover{
  transform: scale(1.01);
  color: white;
  border: solid 2px white;
  box-sizing: border-box;
}
