.detail {
  display: flex;
  justify-content: row;
  margin: 100px auto;
  width: 85vw;
  padding: 15px;
  left: 165px;
  top: 138px;
  background: rgba(195, 252, 241, 0.74);
  color: #015687;
  border-radius: 50px;
}
.leftSunDetails {
  display: flex;
  flex-direction: column;
  width: 65%;
  padding: 20px 10px 10px;
}
.rightSunDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35%;
}

.applyToAndSPF {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  font-size: 28px;
  font-style: normal;
  font-weight: normal;
}

#applyToSpan {
  margin-left: 15px;
  background-color: #ffc172;
  border-radius: 10px;
  padding: 5px 15px;
  border: transparent 2px;
}

.edit-button {
  background-color: #73e4fd;
  border-radius: 10px;
  padding: 5px 15px;
  border: transparent 2px;
  font-size: 28px;
}
.sunscreen-detailPage-image {
  width: 400px;
  height: 450px;
  margin: auto;
  max-height: 90%;
  object-fit: contain;
}
.detail-img {
  display: flex;
  justify-content: center;
}

.name {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  text-align: center;
}
.price-details {
  text-align: center;
  font-size: 28px;
  z-index: 1;
  margin-top: 0;
}
.category-info {
  font-size: 25px;
  text-align: center;
}
.edit-button:hover {
  transform: scale(1.01);
  color: white;
  border: solid 2px white;
  box-sizing: border-box;
}

.button-container {
  display: flex;
  justify-content: center;
}
#loading{
  display: flex;
  justify-content: center;
  font-size: 50px;
  color: #015687;
  
}

@media screen and (max-width: 600px) {
  .detail {
    padding: 10px;
    margin-top: 95px;
    margin-bottom: 25px;
  }

  .leftSunDetails {
    display: flex;
    flex-direction: column;
    width: 65%;
    padding: 10px 5px 5px;
  }
  .rightSunDetails {
    display: flex;
    flex-direction: column;
    width: 35%;
    position: relative;
  }

  .applyToAndSPF {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
  }
  .spf-info{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .applyto-info{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 auto;
    width: 103px;
  }

  #applyToSpan {
    margin-left: 15px;
    background-color: #ffc172;
    border-radius: 10px;
    padding: 5px 15px;
    border: transparent 2px;
  }
  
  .edit-button {
    padding: 5px 15px;
    font-size: 25px;
  }
  .button-container{
    margin-top: 50px;
  }
  
  .sunscreen-detailPage-image {
    max-width: 150px;
    min-width: 120px;
    max-height: 90%;
    object-fit: contain;
    margin: 0 auto;
  }

  .name {
    font-size: 20px;
    text-align: center;
    margin-top: 50px;
  }

  .price-details {
    text-align: center;
    font-size: 28px;
    z-index: 1;
    position: absolute;
    bottom: 55px;
    margin: 0 auto;
    left: 28px;
  }

  .category-info {
    font-size: 19px;
    text-align: center;
  }
}

