#SignIn-container {
  background: rgba(115, 228, 253, 0.38);
  text-align: center;
  margin-left: 30%;
  margin-right: 30%;
}

#SignIn-container input {
  margin: 12px;
  margin-left: 20%;
  margin-right: 20%;
}
#SignIn-container h3 {
  font-weight: lighter;
  margin: 10px;
  color: #015687;
  font-size: 30px;
}
#login-btn {
  background-color: #73e4fd;
  color: #015687;
}
