a{
  text-decoration: none;
  color: black;
}
/* 
.sunscreen-card{display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 3px 1px #cecece;
  transition: all 0.25s;
  padding: 20px;
  margin: 10px 10px 60px;
}
 */
